<!-- templates/dashboard.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body>
    <h2>Welcome {{ myname }} ({{mylevel}})</h2>
    <a href="http://127.0.0.1:5000">Logout</a>
    <!-- <h2>Data Biaya Denda</h2>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>Harga Denda</th>
            <th>Status</th>
            <th>Tanggal Tetap</th>
        </tr>
        {% for row in data %}
            <tr>
                <td>{{ row[0] }}</td>
                <td>{{ row[1] }}</td>
                <td>{{ row[2] }}</td>
                <td>{{ row[3] }}</td>
            </tr>
        {% endfor %} -->
    <h3>Jumlah Buku Tersedia: {{ countbook }}</h3>
    <h3>Anda meminjam: {{ countpinjam }}</h3>
    </table>
</body>
</html>